* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* section 1 */
#s1 {
    position: absolute !important;
    top: 14% !important;
    left: 0;
    right: 0;
    height: 33vh !important;
    text-align: center;
    padding: 8%;
    background-image: url(../images/fixed-homes/fancy-white-kitchen.jpg);
    background-size: cover;
    background-position: bottom;
    z-index: -1;
}
#s1::after {
    content: '';
    z-index: 3;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
}