* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* section 1 */
#s1 {
    position: absolute !important;
    top: 14% !important;
    left: 0;
    right: 0;
    height: 55vh !important;
    text-align: center;
    background-image: url(../images/renovations/Napa28.jpg);
    background-size: cover;
    background-position: 50%;
}

#s1::after {
    content: '';
    z-index: 3;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
}