* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato',Helvetica,Arial,Lucida,sans-serif;
}

/* navbar */
#main-header {
    background-color: #fff !important;
    position: fixed;
    z-index: 999;
    line-height: 23px;
    font-weight: 500;
    width: 100%;
    box-shadow: 0 1px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,.1);
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.1);
}

.navbar img {
    height: 11vh; 
    width: 11vw;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .navbar img {
       height: 13vh;
       width: 20vh;
      }
  }

#logo {
    display: inline-block;
}

.nav-link {
    font-family: "Open Sans", Arial, sans-serif !important;
    font: 14px !important;
    padding: 0px 22px 0px 0px !important;
}

/* section 1 */
#s1 {
    position: absolute !important;
    top: 14% !important;
    left: 0;
    right: 0;
    height: 33vh !important;
    text-align: center;
    padding: 8%;
    background-image: url(../images/fixed-homes/fancy-white-kitchen.jpg);
    background-size: cover;
    background-position: bottom;
    z-index: -1;
}
#s1::after {
    content: '';
    z-index: 3;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
}

#s1 h1 {
    position: relative;
    text-transform: uppercase !important;
    color: #fea30b;
    font-size: 42px;
    z-index: 999;
}

/* section 2 */
#s2 {
    position: absolute;
    left: 0;
    right: 0;
    height: 70vh;
    top: 49%;
    text-align: center;
    padding: 5%;
}

#s2 h1 {
    text-transform: uppercase;
    font-weight: 500;
    color: #fea30b;
}

#s2 p {
    font-size: 18px;
    padding: 1% 7% 2% 7%;
}

#s2 aside {
    padding: 3%;
    padding-top: 2%;
}

#s2 img {
    height: 45vh;
    padding-right: 3%;
    float: left;
}

#s2 aside p {
    border-left: 5px solid orange;
    float: left;
    width: 50%;
    padding-left: .5% !important;
}

#s2 aside a {
    text-decoration: underline;
    color: #fea30b;
    text-align: left;
    font-size: 18px;
}

/* footer */
footer {
    position: absolute;
    top: 143%;
    left: 0;
    right: 0;
    height: 35vh;
    background-image: linear-gradient(black, #393e46);
    padding: 2%;
    font-size: 14px;
    font-family: 'Open Sans', Arial, sans-serif;
}

footer ul {
    float: right;
    padding: 3%;
}

.footer-link {
    text-decoration: none;
    color: white;
}

#yellow-footer-link {
    text-decoration: none;
    color: #fec526;
    font-size: 18px !important;
}

footer img {
    position: relative;
    height: 30vh;
    padding: 0 !important;
    margin: 0 !important;
}