* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato',Helvetica,Arial,Lucida,sans-serif;
    overflow-x: hidden !important;
}

/***************/
/* navbar */
/***************/
#main-header {
    background-color: #fff !important;
    position: fixed !important;
    z-index: 999;
    line-height: 23px;
    font-weight: 500;
    width: 100%;
    box-shadow: 0 1px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,.1);
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.1);
}

#navbar-nav {
    color: rgba(0,0,0,.5) !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
    display: flex !important;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.navbar img {
    height: 11vh; 
    width: 11vw;
}

#logo {
    display: inline-block;
}

.nav-link {
    font-family: "Open Sans", Arial, sans-serif !important;
    font: 14px !important;
    display: block !important;
    padding: 0px 22px 0px 0px !important;
}

a {
    text-decoration: none !important;
    background-color: transparent !important;
    color: rgba(0,0,0,.5) !important;
}

li {
    text-align: -webkit-match-parent;
}

/***************/
/* section 1 */
/***************/
#s1 {
    position: absolute !important;
    top: 14% !important;
    left: 0;
    right: 0;
    height: 33vh !important;
    text-align: center;
    padding: 8%;
    background-image: url(../images/fixed-homes/fancy-white-kitchen.jpg);
    background-size: cover;
    background-position: bottom;
    z-index: -1;
}
#s1::after {
    content: '';
    z-index: 3;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
}

#s1 h1 {
    position: relative;
    text-transform: uppercase !important;
    color: #fea30b;
    font-size: 42px;
    z-index: 999;
}

/***************/
/* section 2 */
/***************/
#s2 {
    position: absolute;
    left: 0;
    right: 0;
    height: 70vh;
    top: 49%;
    text-align: center;
    padding: 5%;
}

#s2 h1 {
    text-transform: uppercase;
    font-weight: 500;
    color: #fea30b;
}

#s2 p {
    font-size: 18px;
    padding: 1% 7% 2% 7%;
}

#s2 aside {
    padding: 3%;
    padding-top: 2%;
}

#s2 img {
    height: 45vh;
    padding-right: 3%;
    float: left;
}

#s2 aside p {
    border-left: 5px solid orange;
    float: left;
    width: 50%;
    padding-left: .5% !important;
}

#s2 aside a {
    text-decoration: underline !important;
    color: #fea30b !important;
    text-align: left;
    font-size: 18px !important;
}

/***************/
/* footer */
/***************/
footer {
    position: absolute;
    top: 143%;
    left: 0;
    right: 0;
    height: 35vh;
    background-image: linear-gradient(black, #393e46);
    padding: 2%;
    font-size: 14px;
    font-family: 'Open Sans', Arial, sans-serif;
}

footer ul {
    float: right;
    padding: 4%;
}

.footer-link {
    text-decoration: none;
    color: white !important;
}

#yellow-footer-link {
    text-decoration: none;
    color: #fec526 !important;
    font-size: 18px !important;
}

footer img {
    position: relative;
    height: 30vh;
    padding: 0 !important;
    margin: 0 !important;
}

/***************/
/***************/
/* media queries */
/***************/
/***************/

/***************/
/* navbar */
/***************/
#burger {
    display: none;
}

#burger:hover{
    cursor: pointer;
}

#burger div {
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: black;
}

@media only screen and (min-width: 992px) {
.navbar-expand-lg #navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
}
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    body {
        overflow-x: hidden !important;
    }

    #main-header {
        position: relative;
        margin-top: 0%;
        width: 100%;
        margin: 0;
      }

    .navbar img {
        height: 13vh;
        width: 21vh;
    }

    #navbar-nav {
        position: absolute !important;
        right: 0px !important;
        height: 100vh !important;
        width: 50%;
        top: 16vh !important;
        background-color: white;
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        opacity: 0;
        }      

    .nav-link {
        z-index: 999;
        font-size: 20px;
        margin: 30.5% 0 30.5% 2%;
        text-align: center;
        }

    #burger {
        display: block;
    }
}

.appear {
    opacity: 1 !important;
}

/***************/
/* section 1 */
/***************/
@media only screen and (max-width: 768px) {
    #s1 {
        top: 19.5% !important;
        padding-top: 25%;
        text-align: center !important;
        align-items: center !important;
        justify-content: center;
    }

    #s1 h1 {
        z-index: 999;
    }
}

/***************/
/* section 2 */
/***************/
@media only screen and (max-width: 768px) {
    #s2 {
        top: 60% !important;
    }

    #s2 aside h4 {
        font-size: 17px;
        padding-bottom: 6%;
    }

    #s2 img {
        /* padding-left: 4%; */
        padding-bottom: 3%;
        height: 30vh;
        max-width: 100%;
    }

    #s2 aside p {
        font-size: 18px;
        width: 100%;
        clear: both;
        padding: 0;
        border: none;
    }
}

/***************/
/* footer */
/***************/
@media only screen and (max-width: 768px) {
    footer {
        top: 213%;
        margin-bottom: 0;
        height: 30vh;
        width: 100%;
        background-image: linear-gradient(#393e46, black);
    }

    .footer-link {
        font-size: 13px;
    }

    footer img {
        height: 16vh;
    }
}