* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato',Helvetica,Arial,Lucida,sans-serif;
    overflow-x: hidden;
}

/***************/
/* navbar */
/***************/
#main-header {
    background-color: #fff !important;
    position: fixed !important;
    z-index: 999;
    line-height: 23px;
    font-weight: 500;
    width: 100% !important;
    box-shadow: 0 1px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,.1);
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.1);
}

#navbar-nav {
    color: rgba(0,0,0,.5) !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
    display: flex !important;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.navbar img {
    height: 11vh; 
    width: 11vw;
}

#logo {
    display: inline-block;
}

.nav-link {
    font-family: "Open Sans", Arial, sans-serif !important;
    font: 14px !important;
    display: block !important;
    padding: 0px 22px 0px 0px !important;
}

a {
    text-decoration: none !important;
    background-color: transparent !important;
    color: rgba(0,0,0,.5) !important;
}

li {
    text-align: -webkit-match-parent;
}

/***************/
/* section 1 */
/***************/
#s1 {
    position: absolute !important;
    top: 14% !important;
    left: 0;
    right: 0;
    height: 55vh !important;
    text-align: center;
    background-image: url(../images/renovations/Napa28.jpg);
    background-size: cover;
    background-position: 50%;
}

#s1-ral {
    position: absolute !important;
    top: 14% !important;
    left: 0;
    right: 0;
    height: 55vh !important;
    text-align: center;
    background-image: url(../images/renovations/raleigh-street.jpg);
    background-size: cover;
    background-position: 50%;
}

#s1-fairfield {
    position: absolute !important;
    top: 14% !important;
    left: 0;
    right: 0;
    height: 55vh !important;
    text-align: center;
    background-image: url(../images/renovations/IMG-0052.jpg);
    background-size: cover;
    background-position: top;
}

/***************/
/* section 2 */
/***************/
#s2 {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 77%;
}

#s2 h1 {
    text-transform: uppercase;
}

#s2 h4 {
    text-transform: uppercase;
    color: #fea30b;
}

#house-facts {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 16px !important;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em; 
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding: 0 !important;
    margin-bottom: 4% !important;
}

#s2 p {
    font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 18px;
    line-height: 1.4em;
    padding: 15%;
    padding-top: 0;
    padding-bottom: 0;
}

#s2 a {
    background-color: #fea30b !important;
    text-decoration: none;
    color: white !important;
    padding: .5%;
    font-size: 18px;
    font-family: 'Open Sans', Arial, sans-serif;
}

/***************/
/* section 3 */
/***************/
#s3 {
    position: absolute;
    left: 0;
    right: 0;
    top: 130%;
    align-content: center;
    text-align: center;
    align-items: center;
    padding: 1.5% 0% 1.5% 1%;
}

img {
    vertical-align: middle !important;
    position: relative !important;
    float: left;
    height: 36vh;
    margin: .5% 0 .5% 1% !important;
}

img:hover {
    cursor: pointer;
}

/* fairfield vertical image container */
.image.vertical {
    height: 35.5vh;
    margin-bottom: 2%;
}

#s3 a {
    position: relative;
    margin-top: 2%;
    background-color: #fea30b !important;
    text-decoration: none;
    color: white !important;
    padding: .5%;
    font-weight: 600!important;
    font-size: 20px;
}

/***************/
/* light box container */
/***************/
.hide {
    display: none;
}

#back {
    position: fixed;
    width: 100%;
    height: 100%;
    align-content: center !important;
    text-align: center !important;
    background-color: black;
    opacity: 0.8;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
}

#content {
    height: 100%;
    max-width: 100%;
    align-items: center !important;
    text-align: center !important;
    justify-content: center !important;
}

.modal-content {
    position: fixed !important;
    top: 13%;
    height: 75vh;
    width: 70% !important;
    right: 15%;
    justify-self: center !important;
    z-index: 1111;
}

#close {
    position: fixed !important;
    font-size: 30px !important;
    z-index: 999;
    top: 9%;
    right: 10%;
    font-weight: 700;
    color: white !important;
    z-index: 1111;
}

#close:hover {
    cursor: pointer;
}

/***************/
/***************/
/* media queries */
/***************/
/***************/

/***************/
/* navbar */
/***************/
#burger {
    display: none;
}

#burger:hover{
    cursor: pointer;
}

#burger div {
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: black;
}

@media only screen and (min-width: 992px) {
.navbar-expand-lg #navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
    }
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    body {
        overflow-x: hidden !important;
    }

    #main-header {
        position: relative;
        margin-top: 0%;
        width: 100% !important;
        margin: 0;
      }

    .navbar img {
        height: 13vh !important;
        width: 21vh !important;
    }

    #navbar-nav {
        position: absolute !important;
        right: 0px !important;
        height: 100vh !important;
        width: 50%;
        top: 16vh !important;
        background-color: white;
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        opacity: 0;
    }      

    .nav-link {
        z-index: 999;
        font-size: 20px;
        margin: 30.5% 0 30.5% 2%;
        text-align: center;
    }

    #burger {
        display: block;
    }
}

.appear {
    opacity: 1 !important;
}

/***************/
/* section 1 */
/***************/
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #s1,
    #s1-ral,
    #s1-fairfield {
        top: 19.5% !important;
        max-width: 100%;
        height: 40vh !important;
    }
}

/***************/
/* section 2 */
/***************/
@media only screen and (max-width: 768px) {
    #s2 {
        top: 70%;
        max-width: 100%;
        padding: 4%;
        padding-top: 0;
    } 
}

/***************/
/* section 3 */
/***************/
@media only screen and (max-width: 768px) {
    /* #s3 {
        position: relative;
        margin-top: 180% !important;
    } */

    img {
        vertical-align: middle;
        margin: auto;
        height: 39.5vh !important;
        margin: .5% 0 2% 0;
        max-width: 100%;
    }

    .image.vertical {
        vertical-align: middle;
        margin: auto;
        height: 85.5vh !important;
        margin: .5% 0 2% 0;
        max-width: 100%;
    }

    #s3 a {
        position: static;
        bottom: 0;
        margin-top: 4%;
    }
}

/***************/
/* light box */
/***************/
@media only screen and (max-width: 768px) {
    .modal-content {
        top: 20%;
        height: 100%;
        width: 80% !important;
        right: 5%;
    }
    
    #close {
        top: 12%;
    }

}
