* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', Arial, sans-serif;
}

/* navbar */
#main-header {
    background-color: #fff !important;
    position: fixed;
    z-index: 999;
    line-height: 23px;
    font-weight: 500;
    width: 100%;
    box-shadow: 0 1px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,.1);
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.1);
}

@media all and (min-width: 600px) {
    /* For mobile phones: */
    #main-header {
        position: relative;
        margin-top: 0%;
        width: 100%;
        margin: 0;
      }
  }

.navbar img {
    height: 11vh; 
    width: 11vw;
}

@media all and (max-width: 600px) {
    /* For mobile phones: */
    .navbar img {
       height: 13vh;
       width: 20vh;
      }
  }

#logo {
    display: inline-block;
}

.nav-link {
    font-family: "Open Sans", Arial, sans-serif !important;
    font: 14px !important;
    padding: 0px 22px 0px 0px !important;
}

/* section 1 */
#s1 {
    background-image: url(../images/fixed-homes/white-kitchen.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
    width: 100%;
    position: absolute;
    left: 0;
    padding-top: 6.1%;
    padding-bottom: 4%;
    top: 14%;
    z-index: -3;
}

@media all and (max-width: 600px) {
    /* For mobile phones: */
    #s1 {
        padding: 50px 0;
        width: 100% !important;
      }
  }

#s1::after {
    content: "";
    z-index: 3;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
}

.row{
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
}

.col-md-7 {
    padding-left: 10% !important;
    padding-top: 3% !important;
}

.col-md-7 h1 {
    color:#ffd460!important;
    letter-spacing: 2px !important;
    line-height: 1.2em;
    font-size: 80px ;
    text-transform: uppercase;
    font-weight: 900 !important;
    font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif;
    text-shadow: 0em .1em .6em rgba(0,0,0,.6)!important;
    z-index: 300;
    position: relative;
}

@media all and (max-width: 600px) {
    /* For mobile phones: */
    .col-md-7 h1 {
        font-size: 50px;
      }
  }
  
.col-md-7 p {
    font-style: italic;
    font-size: 20px;
    color: #FFFF;
    vertical-align: baseline;
    z-index: 300;
    position: relative;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .col-md-7 p {
        font-size: 18px;
      }
  }

.col-md-7 .btn {
    text-decoration: none !important;
    text-emphasis: none;
    background-color: #fea30b;
    text-transform: uppercase;
    font-weight: 900;
    font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif;
    font-size: 16px;
    border-radius: 0 !important;
    border-width: 2px !important;
    border-color: #fff;
    color: white !important;
    z-index: 300;
    position: relative;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .col-md-7 .btn {
        font-size: 12px;
      }
  }

.col-md-7 .btn a {
    text-decoration: none !important;
    color: white !important;
}

/* row-1 col-2 */
.col-md-3 {
    margin-left: 10%;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .col-md-3 {
        margin: auto;
        margin-left: 4.5%;
        margin-top: 10%;
      }
  }

.col-md-3 h3 {
    color: white;
    font-size: 23px;
    font-weight: 700;
    line-height: 1.5em;
    font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif;
    z-index: 300;
    position: relative;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .col-md-3 h3 {
        font-size: 20px;
      }
  }

.col-md-3 p {
    color: rgba(255,255,255,.7)!important;
    margin-block-start: 1em;
    margin-block-end: 1em;
    z-index: 300;
    position: relative;
}

.text {
    position: relative;
    background-color: rgba(103,89,73,.64);
    border-top: #fea30b 6px solid;
    padding-top: 18px;
    padding-right: 30px;
    padding-bottom: 26px;
    padding-left: 30px;
    margin-top: 2.5%;
    margin-bottom: -20px;
    line-height: 2em;
    font-size: 15px;
    z-index: 300;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .text {
        margin: auto;
        font-size: 15px;
        margin-top: 4.5%;
      }
  }

.col-md-3 a {
    color: white;
    z-index: 300;
    position: relative;
}

/***************/
/* section 2 */
/**************/
#s2 {
    height: 50vh;
    position: absolute;
    top: 89.57%;
    text-align: center;
    left: 0;
    right: 0;
    padding: 2%;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #s2 {
        top: 105%;
      }
  }

#s2 h2 {
    font-size: 42px;
    font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #s2 h2 {
        font-size: 30px;
        text-align: center;
        padding: 3%;
      }
  }

#s2 h1 {
    color: #fea30b;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #s2 h1 {
        text-align: center;
        margin: 5% 0 0 0;
      }
  }

.carousel-slide {
    position: relative;
    background-image: url(../images/fixed-homes/fancy-white-kitchen.jpg);
    height: 70vh;
    background-size: 100%;
    background-position: 50%;
    animation: slide 10s infinite ease-in-out;
    transition: ease-in-out;
    background-repeat: no-repeat;
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3%;
    text-align: center;
    overflow: hidden;
  }

@media only screen and (max-width: 768px) {
/* For mobile phones: */
    .carousel-slide {
        margin-top: -45%;
        margin-bottom: -42%;
    }
}

@keyframes slide {
    /* 0% {background-image: url(../images/fixed-homes/cream-livingroom.jpg);} */
    25% {background-image: url(../images/fixed-homes/fancy-white-kitchen.jpg);}
    50% {background-image: url(../images/renovations/raleigh-street.jpg);}
    75% {background-image: url(../images/fixed-homes/fair5.jpg);}
    100% {background-image: url(../images/fixed-homes/fair3.jpg);}
}

.btn-view-all-properties {
    text-emphasis: none;
    text-decoration: none;
    color: white;
    background-color: #fea30b;
    text-transform: capitalize;
    width: 200px;
    text-align: center;
    margin: 0;
    padding: 6px 20px;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
        .btn-view-all-properties {
            position: relative;
        }
    }

/* section 3 */
.section-3 {
    position: absolute !important;
    width: 100%;
    left: 0;
    right: 0;
    text-align: center;
    top: 227%;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
        .section-3 {
            top: 205%;
        }
    }

#s3 h1 {
    color: #fea30b !important;
    text-transform: uppercase !important;
}

.card-deck {
    margin: 1% !important;
}

.card {
    background-color: #f5f5f5 !important;
    border: none !important;
    border-radius: 0% !important;
}

/* section 4 */
#s4 {
    background-image: url(../images/fixed-homes/white-kitchen.jpg);
    position: absolute;
    top: 300%;
    left: 0;
    right: 0;
    text-align: center;
    justify-content: center;
    align-content: center;
    padding: 10%;
    height: 70vh;
    z-index: -1;
    color: white;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
        #s4 {
            top: 461%;
            margin: auto;
            height: 50vh;
            padding: 0;
            padding-top: 25%;
        }
    }

#s4::after {
    content: "";
    z-index: 3;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    background-color: rgba(0, 0, 0, 0.6);
}

#s4 .row {
    position: relative;
    width: 100%;
    text-align: center;
    justify-content: center;
    color: white;
    font-weight: 700;
    z-index: 999;
}

#s4 h1 {
    text-align: center;
    font-size: 40px !important;
    font-weight: 400!important;
    letter-spacing: 2px!important;
    line-height: 1.2em !important;
    font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif!important;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
        #s4 h1 {
            margin-left: 12%;
        }
    }

#s4 .row p {
    text-align: center;
    font-size: 20px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
        #s4 .row p {
            margin-left: 12%;
        }
    }

#s4 .row a {
    align-self: center;
    background-color: #fea30b;
    padding: 6px 20px;
    text-decoration: none;
    color: white;
} 

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
        #s4 .row a {
            margin-left: 12%;
        }
    }

/* footer */
footer {
    position: absolute;
    top: 365%;
    left: 0;
    right: 0;
    height: 35vh;
    background-image: linear-gradient(black, #393e46);
    padding: 2%;
    font-size: 14px;
    font-family: 'Open Sans', Arial, sans-serif;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
        footer {
            top: 511%;
            height: 50vh;
            width: 100%;
            background-image: linear-gradient(#393e46, black);
        }
    }

footer ul {
    float: right;
    padding: 3%;
}

.footer-link {
    text-decoration: none;
    color: white;
}

#yellow-footer-link {
    text-decoration: none;
    color: #fec526;
    font-size: 18px !important;
}

footer img {
    position: relative;
    height: 30vh;
    padding: 0 !important;
    margin: 0 !important;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    footer img {
       height: 25vh;
      }
  }