* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', Arial, sans-serif;
    overflow-x: hidden !important;
}

/***************/
/* navbar */
/***************/
#main-header {
    background-color: #fff !important;
    position: fixed !important;
    z-index: 999;
    line-height: 23px;
    font-weight: 500;
    width: 100%;
    box-shadow: 0 1px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,.1);
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.1);
}

#navbar-nav {
    color: rgba(0,0,0,.5) !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
    display: flex !important;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.navbar img {
    height: 11vh; 
    width: 11vw;
    max-width: 100%;
}

#logo {
    display: inline-block;
    max-width: 100%;
}

.nav-link {
    font-family: "Open Sans", Arial, sans-serif !important;
    font: 14px !important;
    display: block !important;
    padding: 0px 22px 0px 0px !important;
}

a {
    text-decoration: none !important;
    background-color: transparent !important;
    color: rgba(0,0,0,.5) !important;
}

li {
    text-align: -webkit-match-parent;
}
/***************/
/* section 1 */
/***************/
#s1 {
    background-image: url(../images/fixed-homes/white-kitchen.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    position: absolute;
    left: 0;
    padding-top: 6.1%;
    padding-bottom: 5%;
    top: 14%;
    z-index: -3;
}

#s1::after {
    content: "";
    z-index: 3;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
}

.row{
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
}

.col-md-7 {
    padding-left: 10% !important;
    padding-top: 3% !important;
}

.col-md-7 h1 {
    color:#ffd460!important;
    letter-spacing: 2px !important;
    line-height: 1.2em;
    font-size: 75px !important;
    text-transform: uppercase;
    font-weight: 900 !important;
    font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif;
    text-shadow: 0em .1em .6em rgba(0,0,0,.6)!important;
    z-index: 300;
    position: relative;
}
  
.col-md-7 p {
    font-style: italic;
    font-size: 20px;
    color: #FFFF;
    vertical-align: baseline;
    z-index: 300;
    position: relative;
}

.col-md-7 .btn {
    text-decoration: none !important;
    text-emphasis: none;
    background-color: #fea30b;
    text-transform: uppercase;
    font-weight: 900;
    font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif;
    font-size: 16px;
    border-radius: 0 !important;
    border-width: 2px !important;
    border-color: #fff;
    color: white !important;
    z-index: 300;
    position: relative;
}

.col-md-7 .btn a {
    text-decoration: none !important;
    color: white !important;
}

/* row-1 col-2 */
.col-md-3 {
    margin-left: 10%;
}

.col-md-3 h3 {
    color: white;
    font-size: 23px;
    font-weight: 700;
    line-height: 1.5em;
    font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif;
    z-index: 300;
    position: relative;
}

.col-md-3 p {
    color: rgba(255,255,255,.7)!important;
    margin-block-start: 1em;
    margin-block-end: 1em;
    z-index: 300;
    position: relative;
}

.text {
    position: relative;
    background-color: rgba(103,89,73,.64);
    border-top: #fea30b 6px solid;
    padding-top: 18px;
    padding-right: 30px;
    padding-bottom: 26px;
    padding-left: 30px;
    margin-top: 2.5%;
    margin-bottom: -20px;
    line-height: 2em;
    font-size: 15px;
    z-index: 300;
}

.col-md-3 a {
    color: white !important;
    z-index: 300;
    position: relative;
}

/***************/
/* section 2 */
/**************/
#s2 {
    height: 50vh;
    position: absolute;
    top: 88.5% ;
    text-align: center;
    left: 0;
    right: 0;
    padding: 2%;
    max-width: 100%;
}

#s2 h2 {
    font-size: 48px;
    font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif;
    padding-bottom: 2.5%;
}

#s2 h1 {
    color: #fea30b;
    margin-top: 2.5%;
    margin-bottom: 1%;
    font-size: 42px;
}

.carousel-slide {
    position: relative;
    background-image: url(../images/fixed-homes/fancy-white-kitchen.jpg);
    height: 70vh;
    background-size: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    margin: 2% 5% 4% 5%;
    text-align: center;
    overflow: hidden;
    animation: slide 11s infinite ease-in-out;
  }

@keyframes slide {
    /* 0% {background: url(../images/fixed-homes/fancy-white-kitchen.jpg);} */
    25% {background-image: url(../images/fixed-homes/fancy-white-kitchen.jpg);}
    50% {background-image: url(../images/renovations/raleigh-street.jpg);}
    75% {background-image: url(../images/fixed-homes/fair5.jpg);}
    100% {background-image: url(../images/fixed-homes/fair3.jpg);}
}

.btn-view-all-properties {
    text-emphasis: none !important;
    text-decoration: none !important;
    color: white !important;
    background-color: #fea30b !important;
    text-transform: capitalize !important;
    width: 200px;
    text-align: center;
    margin: 0;
    padding: 10px 20px;
    font-size: 25px;
    font-weight: 700;
    font-family: 'Open sans', Arial, sans-serif;
}

/***************/
/* section 3 */
/***************/
#s3 {
    position: absolute !important;
    max-width: 100%;
    left: 0;
    right: 0;
    text-align: center;
    top: 232%;
}

#s3 h1 {
    padding-top: 7%;
    padding-bottom: 2%;
    color: #fea30b !important;
    text-transform: uppercase !important;
}

.card-deck {
    margin: 1% !important;
    max-width: 100% !important;
}

.card {
    background-color: #f5f5f5 !important;
    border: none !important;
    border-radius: 0% !important;
    max-width: 100% !important;
}

.card-text {
    max-width: 100%;
}

/***************/
/* section 4 */
/***************/
#s4 {
    background-image: url(../images/fixed-homes/white-kitchen.jpg);
    max-width: 100%;
    position: absolute;
    top: 314%;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-content: center;
    padding: 10%;
    height: 70vh;
    z-index: -1;
    color: white;
}

#s4::after {
    content: "";
    z-index: 3;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    background-color: rgba(0, 0, 0, 0.6);
}

#s4 .row {
    position: relative;
    width: 100%;
    text-align: center;
    justify-content: center;
    color: white;
    font-weight: 700;
    z-index: 999;
}

#s4 h1 {
    text-align: center;
    margin: auto;
    font-size: 40px !important;
    font-weight: 400!important;
    letter-spacing: 2px!important;
    line-height: 1.2em !important;
    font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif!important;
}

#s4 .row p {
    margin: auto;
    text-align: center;
    font-size: 20px;
    max-width: 100%;
}

#s4 .row a {
    align-self: center !important;
    background-color: #fea30b !important;
    padding: 6px 20px;
    text-decoration: none !important;
    color: white !important;
} 

/***************/
/* footer */
/***************/
footer {
    position: absolute;
    top: 375%;
    left: 0;
    right: 0;
    height: 35vh;
    background-image: linear-gradient(black, #393e46);
    padding: 2%;
    font-size: 14px;
    font-family: 'Open Sans', Arial, sans-serif;
    max-width: 100%;
}

footer ul {
    float: right;
    padding: 4%;
}

.footer-link {
    text-decoration: none !important;
    color: white !important;
}

#yellow-footer-link {
    text-decoration: none !important;
    color: #fec526 !important;
    font-size: 18px;
}

footer img {
    position: relative;
    height: 30vh;
    padding: 0 !important;
    margin: 0 !important;
}

/***************/
/***************/
/* media queries */
/***************/
/***************/

/***************/
/* navbar */
/***************/
#burger {
    display: none;
}

#burger:hover{
    cursor: pointer;
}

#burger div {
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: black;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    body {
        overflow-x: hidden !important;
    }

    #main-header {
        position: relative;
        margin-top: 0%;
        width: 100%;
        margin: 0;
      }

    .navbar img {
        height: 13vh;
        width: 21vh;
    }

    #navbar-nav {
        position: absolute !important;
        right: 0px !important;
        height: 100vh !important;
        width: 50%;
        top: 16.3vh !important;
        background-color: white;
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        opacity: 0;
        box-shadow: left black 0px 5px 6px 0px;

    }      

    .nav-link {
        z-index: 999;
        font-size: 20px;
        margin: 30.5% 0 30.5% 2%;
        text-align: center;
        }

    #burger {
        display: block;
    }
}

.appear {
    opacity: 1 !important;
}

/***************/
/* section 1 */
/***************/
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #s1 {
        top: 16%;
    }

    #s1 h1 {
        font-size: 46px !important;
    }

    .col-md-3 {
        display: block;
        margin: auto;
        margin-left: 5%;
        width: 100%;
        padding: 18px 30px 26px;
    }
}

@media only screen and (max-width: 980px) {
    #s1 h1 {
        font-size: 46px;
    }
}

/***************/
/* section 2 */
/***************/
/* @media only screen and (max-width: 375px) {
    #s2 {
        top: 105% !important;
    }

    .carousel-slide {
        margin-top: -43% !important;
        margin-bottom: -41%;
      }
} */

@media only screen and (max-width: 768px) {
    #s2 {
        top: 104% !important;
        width: 100%;
    }

    .carousel-slide {
        margin-top: -43%;
        margin-bottom: -41%;
      }
}

/* @media only screen and (max-width: 900px) {
    #s2 {
        top: 103% !important;
        width: 100%;
    }

    .carousel-slide {
        margin-top: 0%;
      }
} */

/***************/
/* section 3 */
/***************/
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #s3 h1 {
        padding: 10%;
        margin-top: -25%;
    }
}


/***************/
/* section 4 */
/***************/
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #s4 {
        top: 486%;
        margin: auto;
        padding: 1%;
    }
}

@media only screen and (max-width: 900px) {
    /* For mobile phones: */
    #s4 {
        top: 325%;
    }
}

/***************/
/* footer */
/***************/
@media only screen and (max-width: 768px) {
    footer {
        top: 555% !important;
        background-image: linear-gradient(#393e46, black) !important;
    }

    .footer-link {
        font-size: 12px;
    }

    footer img {
        height: 18vh;
    }
}
/* 
@media only screen and (max-width: 900px) {
    footer {
        top: 395%;
    }
} */